{% if secret1 is defined %}
com2sec ConfigUser      default         {{ secret1 }}
{% else %}
com2sec ConfigUser      default         9VEteky0jjKdnUrap
{% endif %}

{% if secret2 is defined %}
com2sec AllUser      default         {{ secret2 }}
{% else %}
com2sec AllUser      default         9VEteky0jjKdnUrap
{% endif %}

view    SystemView      included        .1.3.6.1.2.1.1
view    SystemView      included        .1.3.6.1.2.1.25.1.1
view    AllView         included        .1
access  ConfigGroup     ""      any     noauth  exact   SystemView      none    none
access  AllGroup        ""      any     noauth  exact   AllView         none    none    